/* SignUp.css */

/* Styles pour centrer et styliser le conteneur du formulaire */
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Centrer verticalement sur la hauteur de la vue */
    background-color: #f0f0f0; /* Couleur de fond du conteneur */
    font-family: 'Montserrat', sans-serif; /* Utilisation de la police Montserrat */
    padding: 20px;
}

/* Styles pour votre formulaire */
.signup-container form {
    width: 100%;
    max-width: 400px; /* Largeur maximale du formulaire */
    background-color: #ffffff; /* Fond du formulaire */
    border-radius: 8px; /* Coins arrondis */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Styles pour vos inputs */
.signup-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Taille de police */
}

/* Styles pour votre bouton de soumission */
.signup-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Couleur du bouton */
    color: #fff; /* Couleur du texte */
    border: none;
    border-radius: 4px;
    font-size: 18px; /* Taille de police */
    cursor: pointer;
}

/* Styles pour la liste déroulante */
.dropdown {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}